@model MyGitTest123.Models.SendMessageViewModel


<div>
    @using (Html.BeginForm("SendMessage", "Messaging", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.TextAreaFor(m => m.MessageText, new { id = "MessageText" });
        <input type="submit" value="SEND" />
    }
    @using (Html.BeginForm("FileUpload", "Messaging", FormMethod.Post,
                                            new { enctype = "multipart/form-data" , id = "formUpload"}))
    {
    
        <input type="file" name="file" id="file" class="inputfile" accept=".jpg,.jpeg,.gif" style="width: 100%;" data-multiple-caption="{count} files selected"  />
        <label for="file">Choose a file</label>
        <img src="@Url.Content("~/Content/run_rabbit_3.gif")" id="gif" style="display: block; margin: 0 auto; width: 100px; visibility: hidden;">
    }
</div>

<script>

    //$("#MessageText").autogrow();
    var inputs = document.querySelectorAll('.inputfile');
    Array.prototype.forEach.call(inputs, function (input) {
        var label = input.nextElementSibling,
            labelVal = label.innerHTML;

        input.addEventListener('change', function (e) {
            var fileName = '';
            if (this.files && this.files.length > 1)
                fileName = (this.getAttribute('data-multiple-caption') || '').replace('{count}', this.files.length);
            else
                fileName = e.target.value.split('\\').pop();

            if (fileName) {
                //label.innerHTML = fileName;
                $("#gif").css('visibility', 'visible')
                document.getElementById("formUpload").submit();
            }

            else {
                label.innerHTML = labelVal;
            }


        });
    });

  
    $('#formUpload').submit(function (event) {
        $('#gif').show();
        return true;
    });

</script>